{% extends "infsoc/base.html" %}
{% block content %}

<p>
  Lupus helper es un servicio para ajustar el desequilibrio que exite hoy en día en la distribución de remedios
  ofrecidos por la canasta GES para la gente que pacede Lupus.
</p>
<p>
  Para hacer uso de este servicio basta con que crees una transacción con los remedios que te falten o que te sobren.
  Si deseas buscar uno, ingresa al buscador.
</p>
<p>
  Para ver todas las transacciones que has realizado y ver su estado, ingresa a la opción del menú ver transacciones.
</p>
{% endblock %}

