{% extends "infsoc/base.html" %}
{% block content %}

<div class="container" style="margin-left: -20px">
<form class="form-horizontal" method="post">
  {% csrf_token %}
    {% for field in form %}
          <div class="form-group" style="margin-bottom: 20px">
            <label class="control-label col-sm-2" style="font-weight: bold;"> {{field.label}} </label>
              {{field}}
          </div>
        {% endfor %}
    <div class="col-md-4 text-left"> 
        <button type="submit" class="btn btn-primary" style="margin: auto;">Ingresar</button>
    </div>
</form>
</div>
{% endblock %}

